body {
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
.campos-avanzados{
    float: left;
}
input[type="submit"].advanced {
    margin-top: 70px;
    float: right;
}
